@import "tailwindcss";

:root {
  --background: #05051a;
  --foreground: #ffffff;
  --accent: #ff5500;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.game-menu-wrapper {
  background-color: var(--accent);
  clip-path: polygon(85% 0%, 100% 15%, 100% 100%, 15% 100%, 0% 85%, 0 0);
  padding: 0.2rem;
}

.game-menu {
  clip-path: polygon(85% 0%, 100% 15%, 100% 100%, 15% 100%, 0% 85%, 0 0);
  background-color: #0d0d22;
  padding: 2rem;
}

.header {
  text-align: center;
  padding-bottom: 4rem;
}

.under_label {
  font-size: 1rem;
  color: var(--foreground);
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.label {
  font-size: 4rem;
  font-weight: bold;
  color: var(--accent);
  text-shadow: 0 0 6px var(--accent);
}

.menu-panel {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.current-difficulty {
  font-size: 0.8rem;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.5);
}
.start-btn-wrapper {
  clip-path: polygon(90% 0%, 100% 20%, 100% 100%, 10% 100%, 0% 80%, 0 0);
  background-color: var(--accent);
  padding: 0.2rem;
}
.start-btn {
  display: block;
  clip-path: polygon(90% 0%, 100% 20%, 100% 100%, 10% 100%, 0% 80%, 0 0);

  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--foreground);
  background-color: var(--background);
  border: none;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.start-btn:hover {
  background-color: var(--accent);
  color: var(--background);
}
.start-btn:active {
  transform: scale(0.9);
}

.settings-btn {
  cursor: pointer;
  color: var(--foreground);
  font-size: 1.3rem;
  margin-top: 1rem;
}
